html {
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-family: 'Young Serif', serif;
    letter-spacing: 7px; 
}

.main{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header{
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    padding: 20x 8%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff15;
    backdrop-filter: blur(4px);
}
.cor1{
    color: #fff;
}
.cor2{
    color: #1A3850;
}

.header .logo{
    display: flex;
    align-items: center;
    
}

.header .links{
    width: 35vw;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.header .links a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 3px;
    border-bottom: solid 2px transparent;
    transition: 0.4s;
}

.header .links a:hover{
    border-width: 0 100%;
    border-bottom-color:#fff;
}

.conteudo{
    text-align: center;
    margin-top: 60px;
}

.conteudo h1{
    font-size: 90px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-family: 'Young Serif', serif; 
    letter-spacing: 7px;
}

.conteudo h4{
    margin-top: 5px;
    margin-bottom: 50px;
    font-size: 24px;
    color: #FFF;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-family: 'Young Serif', serif; 
}

.conteudo .btn{
    text-decoration: none;
    color: #FFF;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    transition: 0.5s;
}
.conteudo .btn:hover{
    background-color: #ffffff3d;
}
.conteudo .icon a{
    border: none;
    cursor: pointer;
}

.back-video{
    position: absolute; /* Para o video ficar atrás dos outros elementos */
    width: 100%;
    bottom: 0;
    z-index: -1; /* Para o video ficar atrás dos outros elementos */
}

.icon img{
    color: #fff;
    font-weight: 800;
    margin-top: 20px;
}

/* SOBRE NOS */

.sobre{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: rgb(238, 237, 237);
    justify-content: space-evenly;
    align-items: center;
}
.sobre .col1,.col2{
    width: 40%;
    background-color: rgb(230, 230, 230);
}
.col1{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    background-color: rgb(200, 200, 200);
}

.col1 h2{
    font-size: 64px;
    color: #1A3850;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-family: 'Young Serif', serif;  
    align-items: center;
    text-shadow: 2px 2px 6px #222;
}

.col1 span{
    font-family:'Zen Kaku Gothic New', sans-serif;
    font-size: 24px;
    letter-spacing: 2.5px;
}

.col2{
    height: 65%;
    display: flex;
    justify-content: center;
}
.col2 .cont-imagens{
    width: 100%;
    height: 100%;
}
.linha1{
    display: flex;
    height: 50%;
    width: 100%;
}
.linha1 .col{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    opacity: 0.5;
}

.l1,.l2{
    background-color: #222;
    height: 100%;
    width: 100%;
    transition: 0.5s;
}
.l1:hover,.l2:hover{
    transform: scale(1.1);
    z-index: 1;
}

.linha2{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #222;
    transition: 0.5s;
}
.linha2:hover{
    transform: scale(1.1);
}
.linha2 .col{
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.col2 img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

/* Calculadora */

.calculadora{
    display: flex;
    width: 100%;
    height: 70vh;
    background-color: rgb(238, 237, 237);
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.calculadora .calc-titulo{
    font-size: 32px;
    color: #1A3850;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-family: 'Young Serif', serif;  
    align-items: center;
    text-shadow: 1px 1px 6px #222;
}
.calculadora .container-calculadora{
    width: 70%;
    height: 100%;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
}
.container-calculadora .col1-calc{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
}
.col1-calc span{
    font-size: 26px;
}
.container-calculadora .col1-calc input{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: #1A3850 solid 2px;
    margin-bottom: 20px;
    padding: 15px;
    font-size: 22px;
}
.col1-calc button{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: solid 2px black;
    background-color: #1A3850;
    color: #FFF;
    font-size: 20px;
    text-shadow: 2px 2px #222;
}
.col1-calc button:hover{
    box-shadow: 2px 2px 6px black;
    cursor: pointer;
}

.container-calculadora .col2-calc{
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 60%;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
}
.col2-calc span{
    font-size: 18px;
    letter-spacing: 1px;
    color: black;
    padding: 5px;
}
/* EQUIPE */

.equipe{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #1A3850;
}

.equipe .titulo{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 15%;
    align-items: center;
}

.equipe .titulo h1{
    font-size: 52px;
}

.cards{
    width: 90%;
    height: 82%;
    display: flex;
    /* border: solid 2px black; */
    justify-content: space-evenly;
    align-items: center;
}

.cards .col{
    width: 30%;
    height: 95%;
    /* border: solid 2px black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.cards .col .p{
    width: 95%;
    height: 45%;
    /* border: solid 2px black; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards .col .p img{
    width: 55%;
    background-color: #0000007f;
    border-radius: 50%;
}

/* Contato */

.contato{
    display: flex;
    width: 100%;
    height: 70vh;
    background-color: rgb(238, 237, 237);
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}

.titulo-contato{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 15%;
    align-items: center;
}

.titulo-contato h1{
    color: #1A3850;

}

.l-contato{
    display: flex;
    width: 90%;
    height: 80%;
}

.l-contato .card-contato{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.card-contato p{
    font-size: 18px;
    font-weight: 600;
}

.card-contato img{
    margin-bottom: 20px;
}

.formulario .inp-autor,.inp-email,.formulario button{
    width: 250px;
    height: 40px;
    border-radius: 10px; 
    border: solid #1A3850 2px;  
    margin-top: 10px;
}
.formulario .inp-assunto{
    width: 250px;
    height: 80px;
    border-radius: 10px; 
    border: solid #1A3850 2px;  
    margin-top: 10px;
}
.formulario input{
    padding: 5px;
    font-size: 16px;
}
.formulario button{
    background-color: #1A3850;
    color: #fff;
}

.formulario button:hover{
    cursor: pointer;
}
.formulario h3{
    margin-bottom: 15px;
}
.formulario a{
    color: #1A3850;
    font-size: 18px;
    text-decoration: none;
}

textarea{
    padding: 10px;
    resize: vertical;
    font-size: 16px;
}

/* Footer */

.footer{
    display: flex;
    width: 100%;
    height: 15vh;
    background-color: #1A3850;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}

.medias{
    display: flex;
    width: 10%;
    justify-content: space-around;
    margin-top: 1%;
}

/* Login */

.body-login{
    background-color: #d7d7d7;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.container-login{
    width: 70%;
    height: 65%;
    background-color: #fff;
    border: #1A3850 solid 12px;
    box-shadow: #1A3850 4px 4px 12px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.container-login .col1-login{
    width: 30%;
    height: 70%;
    border: solid 2px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.formulario-login{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario-login span{
    font-size: 22px;
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}
.formulario-login input{
    width: 200px;
    height: 30px;
    font-size: 22px;
    outline: none;
    margin-bottom: 10px;
}
.formulario-login input:hover,input:focus{
    border: solid 2px #1A3850;
}
.formulario-login button{
    width: 200px;
    height: 30px;
    font-size: 22px;
    background-color: #1A3850;
    color: #fff;
    border: solid 2px black;
    cursor: pointer;
}
.container-login .col2-login{
    width: 55%;
    height: 60%;
}
.col2-login img{
    width: 100%;
    height: 100%;
    border-radius: 30px 5px 30px 10px;
}