@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Jost:wght@100;400;600&family=Poppins:wght@100;200;300;400;500;700&family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    overflow: hidden;
    font-family: 'poppins', sans-serif;
    text-transform: uppercase;
}

#up {
    position: absolute;
    height: 800px;
    width: 800px;
    border-radius: 50%;
    background-image: linear-gradient(80deg, #578aa8, #74a3b780);
    filter: blur(150px);
    animation: down 40s infinite;
    z-index: -10;
}

#down {
    position: absolute;
    right: 0;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-image: linear-gradient(80deg, #4491decc, #6791bb80);
    filter: blur(200px);
    animation: up 30s infinite;
    z-index: -10;
}

#left {
    position: absolute;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-image: linear-gradient(80deg, rgb(43, 151, 194), #120205cc);
    filter: blur(180px);
    animation: left 30s 1s infinite;
    z-index: -10;
}

#right {
    position: absolute;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-image: linear-gradient(80deg, #6195ba99, #4c8198cc);
    filter: blur(80px);
    animation: right 40s .5s infinite;
    z-index: -10;
}


@keyframes down {

    0%,
    100% {
        top: -100px;
    }

    70% {
        top: 700px
    }

}

@keyframes up {

    0%,
    100% {
        bottom: -100px;
    }

    70% {
        bottom: 700px
    }
}

@keyframes left {

    0%,
    100% {
        left: -100px;
    }

    70% {
        left: 1300px
    }
}

@keyframes right {

    0%,
    100% {
        right: -100px;
    }

    70% {
        right: 1300px
    }
}

:root{
    --bodyBg:#ffffff;
    --formBg:#ffffff;
    --textColor:#fff;
    --primaryColor:#ffffff;
    --paragrafoColor:#ffffff;
    --paragrafoColor:#ffffff;

}

body{
    font-family: 'poppins', sans-serif;
    background-image: linear-gradient(80deg, #2A6F97, #014F86);
    padding-bottom: 5em;
}

p {
    color: #fff;
}

section{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    max-width: 550px;
    margin: auto;
    margin-top: 2em;
    color: #fff;
}

.logo {
    width: 10vw;
    height: 5vh;
    margin-right: 50px;
}

.logo:hover {
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
}


.heading,.sub-heading{
    margin-bottom: .5em;
    font-weight: bold;
    color: #fff;
}

.heading{
    font-size: 2.5em;
    color: #fff;
}

.sub-heading{
    text-align: left;
}

.contactForm{
    display: grid;
    gap: 3em;
}

form{
    width: 100%;
    margin-top: 3em;
}

.paragrafo{
    color: var(--paragrafoColor);
    font-size: 1.1rem;
    line-height: 1.5em;
    margin-bottom: 1em;
}

.paragrafo2{
    text-align: left;
}

.input{
    width: 90%;
    max-width: 700px;
    border: none;
    font-size: .9rem;
    padding: 1em;
    outline: none;
    background-color: var(--formBg);
    color: var(--paragrafoColor);
    border-radius: 10px;
    border: 2px solid rgb(53, 53, 53);
    margin-bottom: 1em;

}

.input:focus{
    border: 3px solid var(--primaryColor);
}

.input::placeholder{
    text-transform: capitalize;
}

.submit{
    background-color: #000;
    border: none;
    color: var(--textColor);
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    transition: 0.2s ease-in-out;
}

.submit:hover {
    background-color: #fff;
    color: #000;
    transform: scale(1.2);
}

.map-container{
    position: relative;
    width: 100%;
    height: 500px;
    
}


.map{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    height: 90%;
    border-radius: 5px;
    border: 1px solid #000;
}

.map iframe{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid #000;
}

.contactMethod{
    display: flex;
    flex-direction: row;
    margin-top: 4em;
    text-align: left;
    justify-content: space-around;
}

.method{
    display: flex;
    align-items: center;
    width: 400px;
}

.contactIcon{
    font-size: 2rem;
    color: var(--primaryColor);
    width: 70px;
}

@media screen and (min-width:800px) {
    section{
        max-width: 1100px;
    }
    .contactForm{
        grid-template-columns: 1fr 1fr;
    }   

    .contactMethod{
        flex-direction: row;
        justify-content: space-between;
    }
}

p h1 {
    color: #fff;
}