* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

body {
    margin: 0;
    background-image: url(SHOPPING-lojas-1804x902-1-768x384.jpg);
}

.header {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    margin: 0px 0px 3px 0px;    
}

.header .container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container ul {
    width: 400px;
    list-style: none;
    display: flex;
    justify-content:  space-evenly;
    color: #FDFDFD;
}

.header a {
    text-decoration: none;
}
.header h1 {
    color: #FDFDFD;
    justify-content: flex-start;
    display: flex;
    width: 10%;
    right: 10%;
}
.container{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
}

.card{
    background-color: #FDFDFD;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #1A3950;
    height: 400px;
    width: 30%;
    margin: auto;
}
.card h2{
    margin: 80;
    font-size: 30px;   
}
.formulario{
    display: flex;
    height: 90%;
    width: 80%;
    justify-content: space-around;
    flex-direction: column;
}
.formulario span{
    font-size: 15px;
    font-weight: 800;
}
.formulario input{
    border: 2px solid #1A3950;
    text-align: center;
    border-radius: 100px;
}

.login .container{
    justify-content: center;
    height: 500px;
}
.botao{
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 0;
    border-radius: 5px;
    font-weight: 504;
    font-size: 19px;
    color: #FDFDFD;
    background-color: #1A3950;
    width: 120px;
    height: 30px;
    align-self: center;   
}