.caixa_formulario {
    background: #FDFDFD;
    width: 400px;
    height: auto;
    color:#1A3950;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    border-radius: 20px;
}

.caixa_formulario h1 {
    font-size: 60px;
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.formulario button {
    margin-top: 10px;
    background: #1A3950;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    width: 120px;
    align-self: center;
    cursor: pointer;
}

.formulario input {
    padding: 10px 15px;
    text-align: center;
    border: 2px solid rgb(82, 143, 196);
    border-radius: 10px;
}

.formulario span {
    font-size: 20px;
}

.formulario a{
    display: flex;
    margin-left: 60px;
    text-decoration: none;
    font-size: 16px;
}