@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}
body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}
.header {
    background-color: #1A3950;
    color: #FDFDFD;
    width: 100vw;
}
.container{
    margin: auto;
}
.header .container {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
 width: 50px;
 align-items: center;
 margin-bottom: -15px;

}
.sections {
    justify-content: center;
    align-items: center;
    display:  flex;
    ;
}
.sections li{
    justify-content: center;
    align-items: center;
    margin: 25px;
    list-style: none;
}
.sections a{
        text-decoration: none;
        color: #fdfdfd;
        text-transform: none;
        transition: 0.25s ease;

}
.banner {
    width: 100vw;
    height: 100vh;
    background: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url(imagens/escada-rolante-borrada-em-um-shopping.jpg);
    background-size: cover;
    display: flex;
}
.banner .container{
    width: 80%;
    display: flex;
    justify-content: center;
}
.container .sobre{
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
    color: #FDFDFD;
    text-align: left;
    margin-left: 35px;
    
}
.container .sobre p{
    font-size: 60px;
    margin: 30px;
}
.container .calculadora{
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    align-items: center;
    color: #FDFDFD;
    text-align: left;
    margin: 100px;
    
}
.container .calculadora p{
    font-size: 60px;
    margin: 30px;
}
.container .calculadora button{
    border-radius: 20px;
}
.container .calculadora input{
    border-radius: 20px;
}



.cards {
    display: flex;
    background-color:#1A3950;
    width: 100%;
    height: 700px;
}
.cards .container{
    height: 80%;
}
.container .boxes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}
.box img {
    width: 100px;
    margin-top: 150px;
    filter: invert(100%);
}

.box {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: #FDFDFD;
}

.box p {
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 300px;
}
.footer {
    width: 100%;
    background-image: linear-gradient(to top, black, #1A3950 );
    display: flex;
}

.footer .container .version {
    font-size: 12px;
    font-weight: 800;
    color: #e5e5e5;
}

.footer .container {
    color: #e5e5e5;
}
.contato {
  
    vertical-align: baseline;
}
.version img{
    width: 30px;
    margin: 10px;
}
