body{
    margin: 0;
    background-color: #1a3950;
}
.logo img{
    width: 150px;
    height: 150px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    width: 80%;
    background-color: #e5e5e5;
    border-radius:30px;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    color:#1a3950;
}
.card h2 {
    margin: 0;
    font-size: 30px;
}
.formulario{
    display: flex;
    height: 70%;
    width: 70%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.formulario p{
    font-size: 15px;
    font-weight: 800;
}
.formulario input{
    border: 2px solid  #ccc;
    text-align:start;
    border-radius: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    cursor: pointer;
}
input{
    flex-direction: start;
    display: flex;
    border: 0;
}
.card{
    display: flex;
    background-color:#fdfdfd;
}
.simulador .container{
    display: flex;
    align-items: center;
    justify-content: center;

}
.campo{
    align-items: center;
    flex-direction: column;
    display: flex;
    text-align: center;
    margin: 10px;
}
.botao{
    margin-bottom:20px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 0;
    border-radius: 10px;
    font-size: 25px;
    color: #fdfdfd;
    background-color:#1a3950;
    width: 120px;
    height: 40px;
}
.simulador .botao{
    display: flex;
    align-items: center;
    justify-content: center;
}
h2,p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}
#div_resultado{
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
    text-align:center;
    color: black;
    font-size: 15px;
    
}
