@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500&family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500&family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700&family=PT+Sans&display=swap');

/* font-family: 'Fira Sans Condensed', sans-serif; */
/* font-family: 'PT Sans', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: url('Design/main/website/gradient.svg');
}

/* @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
} */



.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5%;
    padding: 20px 100px;
    background: hsla(0, 0%, 100%, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 0px 5px 5px #353535cc;*/
    backdrop-filter: blur(2px);
    z-index: 100;
    border-bottom: 1px solid rgb(0, 0, 0, .1);
    font-weight: 700;
}

.logo {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 80px;
    height: 80px;
}

/* Header começa aqui */

.navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-weight: bold;
}



.navbar a {
    position: relative;
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-weight: 250;
    text-decoration: none;
    margin-left: 40px;
    border-radius: 25%;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #000000;
    transition: .6s;
    
}

.navbar a:hover::before {
    width: 100%;
    transform: scale(1.10);
}

/* Header termina aqui */

.banner {
    margin-top: 50px;
    padding: 0;
    width: 100%;
    height: 100%;
}



/* Botão começa aqui */

button {
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: 2px;
    border-radius: 20px;
    background-color: rgb(145, 145, 145, .3);
    color: #fff;
    text-decoration: none;
    font-weight: 1000;
    font-size: 15px;
    line-height: 0.5;
    font-family: 'Josefin Sans', sans-serif;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
}

button:hover {
    opacity: 0.8;
}

button:active {
    box-shadow: inset 0 1px 1px 1px hsla(0, 0%, 0%, 0.1);
}

button:focus {
    outline: thin;
    outline: 0.5px auto -webkit-focus-ring-color;
    outline-offset: -1px;
}

/* Botão termina aqui */

.container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    border-bottom: 1px dashed #ccc;
}

.hero {
    display: flex;
    justify-content: space-evenly;
    z-index: 3;
    
}

.hero .image {
    margin-top: 0px;
    width: 900px;
    height: 900px;
    
}


.column-left {
    width: 500px;
    height: 40px;
    text-align: justify;
    display: inline-block;
    margin: 0 10px;
    flex-direction: column;
    z-index: 5;
    align-self: normal;
    margin-top: 310px;
    text-align: justify; 

}


p {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    text-align: justify;
    
}

h1 {
    text-align: center;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    text-align: justify;
}

.titulo {
    width: 50%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.boxes {
    width: 100%;
    height: 1080px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: url('Design/main/website/gradient\ vertical.svg');
    color: #5e5e5e;
}

.box {
    width: 20%;
    height: 40%;
}

.box h4 p {
    width: 200px;
    height: 200px;
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.box img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    height: 150px;
    justify-self: center;
    text-align: justify;
}

.boxes .titulo p {
    width: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: justify;
    align-items: center;
}

.titulo h1 {
    text-align: center;
    padding-top: 50px;
    font-size: 42;
    color: #000;
    font-family: 'Fira Sans Condensed', sans-serif; 
    letter-spacing: 5px;
}

.titulo h1::after {
    content: "";
    height: 2px;
    width: 300px;
    background-color: #000;
    display: block;
    margin: auto;
}

.missao {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 75px auto;
    text-align: center;
}

.card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0px 20px;
    padding: 20px 20px;
    background-color: rgb(239, 239, 239, .3);
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
    transition: transform 0.5s; background: 0.5s;
    }


    .logo:hover{
        border-radius: ;
        transition: 0.8s ease;
        transform: scale(1.15);
    }

.card:hover{
    background-color: rgb(150, 162, 175, .4);
    transition: 0.8s ease;
    transform: scale(1.15);
    transition :0.5s cubic-bezier(0.19, 1, 0.22, 1),visibility 0s cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

.card .icon {
    font-size: 35px;
    margin-bottom: 10px;
}   

.card h2 {
    font-size: 18px;
    color: #120205;
    margin-bottom: 20px;
}

.card p {
    font-size: 12px;
    margin-bottom: 30px;
    line-height: 1.5;
    color: #5e5e5e;
}

.button{
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: #000000;
}

.button:hover{
    background-color: #af5d63;
    transition: 0.4 ease;
}

@media screen and (max-width: 940px){
    .missao {
        display: flex;
        flex-direction: column;
    }
    .card {
        width: 85%;
        display: flex;
        margin: 20%;
    }
    .est {
        display: flex;
        flex-direction: row;
        width: 20%;
        height: 20%;
    }
}

.est {
    width: 20%;
    height: 20%;
}



